[package]
name = "btrunk/rgpkg"
version = "0.1.8"
description = "JWT-based Django app"
license = "MIT"
entrypoint = "run"

[dependencies]
"python/python" = "^3.13.1"

[fs]
"/src" = "."

[[command]]
name = "run"
module = "python/python:python"
runner = "wcgi"

[command.annotations.wcgi]
dialect = "wcgi"

[command.annotations.wasi]
env = ["DJANGO_SETTINGS_MODULE=jwtproj.wsgi.app", "PORT=8080"]
