[package]
name = "aboshra/drf-jwt"
version = "0.1.3"
description = "Django REST Framework JWT app on Wasmer Edge"
license = "MIT"
readme = "README.md"

[dependencies]
"python/python" = "*"

[[command]]
name = "start"
module = "python/python:python"
runner = "wasi"
